
	<section class='x_one' id='x_one'>
				<div class='x_content'>
					<div class='swiper-container x_ban'>
								<ul class='swiper-wrapper'>
									<li class='swiper-slide'><img src="img/x_1.jpg" alt=""></li>
									<li class='swiper-slide'><img src="img/x_2.jpg" alt=""></li>
									<li class='swiper-slide'><img src="img/x_3.jpg" alt=""></li>
									<li class='swiper-slide'><img src="img/x_4.jpg" alt=""></li>
								</ul>
								<ol class='pagination'>
									<li class='swiper-pagination-switch'></li>
									<li class='swiper-pagination-switch'></li>
									<li class='swiper-pagination-switch'></li>
									<li class='swiper-pagination-switch'></li>
								</ol>
					</div>
					<div class='x_jin'>
						<div class='x_left'>
							<p class='x_p'>累计成交金额</p>
							<p class='x_h'>29,089.80 <span>万元</span></p>
						</div>
						<div class='x_left'>
							<p class='x_p'>为投资人赚取利益</p>
							<p class='x_h'>594.89 <span>万元</span></p>
						</div>
					</div>
					<div class='x_car'>
						<p class='x_ya'><span>押车宝</span><b>汽车供应链第75期</b></p>
						<div class='x_shou'>
							<div class='x_s1'><span>12</span><b>.0%</b><em>年化收益</em></div>
							<div class='x_s2'><em>期限</em><p><span>3</span> 个月</p></div>
							<div class='x_s3'><span>抢购</span><p>163人购买</p></div>
						</div>
					</div>
					<div class='x_car x_water'>
						<p class='x_ya x_ba'><span class='x_ba'>流水宝</span><b>餐饮供应链第73期</b></p>
						<div class='x_shou'>
							<div class='x_s1'><span>14</span><b>.0%</b><em>年化收益</em></div>
							<div class='x_s2'><em>期限</em><p><span>15</span> 天</p></div>
							<div class='x_s3'><span>抢购</span><p>163人购买</p></div>
						</div>
					</div>
					<div class='x_car'>
						<p class='x_ya'><span>押车宝</span><b>汽车供应链第75期</b></p>
						<div class='x_shou'>
							<div class='x_s1'><span>12</span><b>.0%</b><em>年化收益</em></div>
							<div class='x_s2'><em>期限</em><p><span>3</span> 个月</p></div>
							<div class='x_s3'><span>抢购</span><p>163人购买</p></div>
						</div>
					</div>
				</div>
			</section>
