
	<section class="userSign" id="userSign">
				<div class="scroller">
					<div class="hz_top">
						<dl>
							<dt><img src="img/hz_top_03.png" alt=""></dt>
							<dd>
								<p><button>登陆</button></p>
								<p><button class="btn_zhuce">注册</button></p>
							</dd>
						</dl>
					</div>
					<div class="hz_center">
						<dl>
							<dt><span class="fa fa-home"></span></dt>
							<dd>推荐有利</dd>
						</dl>
						<dl>
							<dt style="background: #ffc000"><span class="fa fa-leaf"></span></dt>
							<dd>签到</dd>
						</dl>
						<dl>
							<dt style="background: #5bbdea"><span class="fa fa-cog"></span></dt>
							<dd>礼券</dd>
						</dl>
						<dl>
							<dt style="background: #6fd33d"><span class="fa fa-user"></span></dt>
							<dd>积分</dd>
						</dl>						
					</div>
					<ul>
						<li>
							<em><img src="img/hz_15.jpg" alt=""></em><i>0.00</i>
							<span><img src="img/hz_2.jpg" alt=""></span>
							我的投资
						</li>
						<li>
							<em><img src="img/hz_15.jpg" alt=""></em>
							<span><img src="img/hz_3.jpg" alt=""></span>
							交易记录
						</li>
						<li>
							<em><img src="img/hz_15.jpg" alt=""></em><i>未认证</i>
							<span><img src="img/hz_4.jpg" alt=""></span>
							身份认证
						</li>
						<li>
							<em><img src="img/hz_15.jpg" alt=""></em><i>未绑定</i>
							<span><img src="img/hz_5.jpg" alt=""></span>
							我的银行卡
						</li>
						<li>
							<em><img src="img/hz_15.jpg" alt=""></em>
							<span><img src="img/hz_6.jpg" alt=""></span>
							设置
						</li>
					</ul>
				</div>
			</section>
